@charset "UTF-8";

/*----------兌換頁 (bonus_exchange.html)----------*/


/*----------兌換確認頁及感謝頁 (bonus_thx.html)----------*/

.step_diagram_wrap li{
	display: inline-block;
}
.step_wrap_style{
	width: 85px;
	height: 40px;
	text-align: center;
	margin: 20px 2px 10px 2px;
}
.step_arrow{
	width: 0;
	height: 0;
	border-width: 10px 0 10px 15px;
}
/*-----訂單狀態-----*/
.order_status_style{
	width: 50px;
	height: 50px;
	text-align: center;
}