@charset "UTF-8";

/*----------兌換頁 (bonus_exchange.html)----------*/

/*-----步驟圖-----*/
.step_diagram_wrap li{
	display: inline-block;
}
.step_wrap_style{
	width: 85px;
	height: 40px;
	text-align: center;
	margin: 20px 2px 10px 2px;
}
.step_arrow{
	width: 0;
	height: 0;
	border-width: 10px 0 10px 15px;
}
/*-----消費計算-----*/
.calculation_wrap{
	margin: 5px;
}
.calculation_wrap li{
	margin: 10px 5px;
}
/*-----付款方式-----*/
.payment_method_wrap{
	margin: 5px;
}
.payment_method_wrap li{
	margin: 10px 5px;
}
/*----頁面 input 設定-----*/
.payment_method_wrap input{
	display: none;
}
.payment_method_wrap input + label,
.buyer_wrap input,
.receive_wrap input,
.family_wrap input,
.invoice_wrap input,
select option,
select{
	width: 100%;
	margin: 5px 0;
}
.checkbox_input_wrap input{
	width: 25px;
	height: 25px;
}
/*-----全家門市資訊-----*/
.family_button{
	position: relative;
}
.family_button img{
	width: 38px;
	position: absolute;
	top: 2px;
	left: 20px;
}

/*----------兌換確認頁及感謝頁 (bonus_thx.html)----------*/

/*-----訂單狀態-----*/
.order_status_style{
	width: 50px;
	height: 50px;
	text-align: center;
}