@charset "UTF-8";
/* CSS Document */
body {
	font-family:"微軟正黑體","蘋果儷中黑",Arial;
	word-break: normal;
	text-align:justify;
	background: #E6E6E6;
	}

/*---紅利館Top title 整體顏色---*/
/*.Overall_color{ background: #f09290; }
.top_title_logo{ color: #fff; }*/

/*-----紅利商品兌換區-----*/
.price_style{
	color: #f78c00;
	font-size: 20px;
    font-weight: bold;
}

.Quantity_wrap input{
	border-radius: 5px;
	border: 0.5px solid #ccc;
}

.button_style{
	background: #f09290;
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
	padding: 0;
	border: 0;
	line-height: 30px;
}
