@charset "UTF-8";

/*----------兌換頁 (bonus_exchange.html)----------*/


/*----------兌換確認頁及感謝頁 (bonus_thx.html)----------*/

.step_wrap_style{
	border-color: #f09290;
}
.step_arrow{
	border-color: transparent transparent transparent #f09290; 
}

.order_status_style{
	border-color: #f09290;
}