@charset "UTF-8";
/*-----footer 關於我們 (for brand.html,shipping.html,return.html,contact.html)-----*/
.about_us_wrap img{
	width: 30px;
}
/*-----退貨說明(return.html)-----*/
.Anti-cheat_wrap img{
	width: 120px;
}
.Anti-cheat_NO{
	width: 30px;
	height: 30px;
	text-align: center;
	float: left;
}
/*-----聯絡我們(contact.html)-----*/
.service_img{
	width: 100px;
}