@charset "UTF-8";
/*-----footer 關於我們 (for brand.html,shipping.html,return.html,contact.html)-----*/
/*-----品牌介紹(brand.html)-----*/
.brand_introduction_wrap p{
	text-indent:2em;
}
/*-----運送方式(shipping.html)-----*/
.transport_wrap ol{
	margin-left: 20px;
}
.transport_wrap ol li{
	list-style-type: decimal;
	font-size: 16px;
	padding: 10px 0;
}
.transport_wrap ol li ol li{
	list-style-type: disc;
	font-size: 16px;
	padding: 5px 0;
}
/*-----退貨說明(return.html)-----*/
.Anti-cheat_wrap ul{
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
}
.Anti-cheat_NO{
	font-size: 18px;
	border-radius: 50%;
	padding-top: 3px;
}
/*-----聯絡我們(contact.html)-----*/
.customer_service_content{
	border: 1px solid #666;
	padding: 10px;
}