@charset "UTF-8";

/*-----會員專區 member function (for member.html)-----*/

.member_button{
	border-color: #b3b3b3;
	background: #fff;
}
.member_button a{
	color: #666;
}

/*-----會員基本資料 (for member_profile.html)-----*/

/*-----member form-----*/
.account_button{
	background: #9bd5e0;
}
.account_button a{
	color: #fff;
}
.name_wrap input,
.gender_wrap input + label,
.email_wrap input,
.address_wrap input,
select option,
select {
	background-color: #f9f9f9;
	border-color: #b3b3b3;
	color: #666;
}
input:focus {
	border-color: #9bd5e0;
	box-shadow: 0 0 5px #9bd5e0;
}
select:focus{
	border-color: #9bd5e0;
	box-shadow: 0 0 5px #9bd5e0;
}
.gender_wrap input:checked + label,
input:checked{
	background-color: #9bd5e0;
	border-color: #fff;
	box-shadow: 0 0 5px #9bd5e0;
	color: #fff;
}
.edm_enabled_wrap label{
	color: #666;
}
/*-----member button-----*/
.FB_button{
	background: #3b5998;
}
.FB_button a{
	color: #fff;
}
.confirm_button{
	background: #9bd5e0;
}
.confirm_button a{
	color: #fff;
}

/*-----會員手機認證 (for sms_send.html)-----*/

.authentication_Code_wrap input{
	background-color: #f9f9f9;
	border-color: #b3b3b3;
	color: #666;
}
input:focus {
	border-color: #9bd5e0;
	box-shadow: 0 0 5px #9bd5e0;
}

/*-----會員修改密碼 (for member_pwd.html)-----*/

.password_form_wrap input{
	background-color: #f9f9f9;
	border-color: #b3b3b3;
	color: #666;
}
input:focus {
	border-color: #9bd5e0;
	box-shadow: 0 0 5px #9bd5e0;
}
.new_password_wrap dd{
	color: #666;
}

/*-----會員訂單紀錄 (for member_order.html)-----*/

/*-----尚無訂單資料-----*/
.no_order_wrap p{
	color: #2caa72;
}
/*-----訂單資料-----*/
.order_content_wrap{
	border-color: #b3b3b3;
}
.order_top_wrap{
	border-color: #ddd;
}
/*-----訂單狀態-----*/
.order_status_style{
	border-color: #9bd5e0;
}

/*-----會員註冊 (for member_register.html)-----*/

.merber_register_form_wrap input{
	background-color: #f9f9f9;
	border-color: #b3b3b3;
	color: #666;
}
input:focus {
	border-color: #9bd5e0;
	box-shadow: 0 0 5px #9bd5e0;
}
.accept_wrap label{
	color: #666;
}