@charset "UTF-8";

/*----------產品介紹頁面(for prod.html)----------*/
.btn{
	padding: 0;
}
.btn-info{
	border: 0;
}

/*-----產品頁籤-----*/
.controls_tabl{
	padding: 0;
}
.controls li{
	border: 1px solid;
}
.controls li a{
	line-height: 40px;
	text-align: center;
}
/*-----google_map-----*/
.google_map_select{
	border-radius: 5px;
}
.google_map_wrap{
	border: 1px solid;
}
/*-----商品介紹頁 footer-----*/
.Border_r{
	border-right: 1px solid;
}
.menu_icon_buy{
	font-size: 20px;
	line-height: 50px;
}

/*----------加入購物車頁面(for shopping_cart.html)----------*/

.shopping_button_left{
	border-radius: 5px;
}
.shopping_button_right{
	border-radius: 5px;
}

/*----------購買資訊頁面(for checkout.html)----------*/

/*-----步驟圖-----*/
.step_wrap_style{
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	border-radius: 10px;
	border: 2px solid;
}
.step_arrow{
	border-style: solid;
}
/*-----delete-----*/
.prod_delete_button{
	border: 0;
	background: 0;
	outline: 0;
}
/*----頁面 input 設定-----*/
.payment_method_wrap input + label,
.buyer_wrap input,
.receive_wrap input,
.family_wrap input,
.invoice_wrap input,
select option,
select{
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	transition: 0.35s ease-in-out;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.calculation_wrap li,
.payment_method_wrap li,
.buyer_wrap li,
.receive_wrap li,
.family_wrap li,
.invoice_wrap li{
	font-size: 16px;
}
.buyer_wrap h4,
.receive_wrap h4,
.family_wrap h4,
.invoice_wrap h4{
	font-weight: bold;
	padding-bottom: 5px;
}
/*-----全家門市資訊-----*/
.family_button{
	border: 0;
}
.family_button a{
	font-size: 16px;
	line-height: 40px;
}