@charset "UTF-8";

/*---購買資訊頁面(for checkout.html)---*/
/*步驟圖*/
.step_wrap_style{
	border-color: #9bd5e0;
}
.step_arrow{
	border-color: transparent transparent transparent #9bd5e0; 
}
.checkout_color{
	background: #999;
}
.checkout_border_color{
	border-color: #999;
}
/*全家門市資訊*/
.family_button{
	background: #449d44;
}
.family_button a{
	color: #fff;
}