/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color:#000;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF. 
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
 
ol,
ul {
	list-style:none;
}
 
caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }
	
a{
	text-decoration:none;
	outline: medium none;	
	hlbr:expression(this.onFocus=this.blur());
	cursor: pointer;
	display:block; /*20170814增新*/
	box-shadow: none;
	}

ul,li{ 
	margin:0; 
	padding:0; 
	list-style:none;
	}

tml,a,form,area,div,img,td,th,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,p {
	margin:0px;
	padding-left:0px;
	}
	
table{
	padding-left: 0;
	}

div,span{
	word-break: normal;
	text-align:justify; 
	}

input{
	padding: 0 5px;
	}

input:focus,
select:focus{
	outline: none;
}

.row {
	margin: 0;
}

label{
	margin: 0px;
	font-weight: normal;
}

a, button, .btn:focus, .btn:active{
   outline: none !important;
}

/*---------- Miya 快速便利包 ----------*/

.padding-0{padding:0 ;}
.margin-0 {margin: 0 ;}

.float-l{ float: left; }
.float-r{ float: right; }

.clear{ clear:both; }
#clear{ clear:both; }

.mg-c{ margin: 0 auto; }
.ta-c{ text-align: center; }
.ta-l{ text-align: left; }
.ta-r{ text-align: right; }

.overflow_h{overflow: hidden;}
.position_r{ position: relative; }

.p-t-0 {  padding-top:0px; }
.p-t-5 {  padding-top:5px; }
.p-t-10{  padding-top:10px; }
.p-t-15{  padding-top:15px; }
.p-t-20{  padding-top:20px; }
.p-t-25{  padding-top:25px; }
.p-t-30{  padding-top:30px; }
.p-t-40{  padding-top:40px; }
.p-t-50{  padding-top:50px; }
.p-t-60{  padding-top:60px; }
.p-t-70{  padding-top:70px; }
.p-t-80{  padding-top:80px; }
.p-t-90{  padding-top:90px; }
.p-t-100{ padding-top:100px; }

.p-b-0 {  padding-bottom:0px; }
.p-b-5 {  padding-bottom:5px; }
.p-b-10{  padding-bottom:10px; }
.p-b-15{  padding-bottom:15px; }
.p-b-20{  padding-bottom:20px; }
.p-b-25{  padding-bottom:25px; }
.p-b-30{  padding-bottom:30px; }
.p-b-40{  padding-bottom:40px; }
.p-b-50{  padding-bottom:50px; }
.p-b-60{  padding-bottom:60px; }
.p-b-70{  padding-bottom:70px; }
.p-b-80{  padding-bottom:80px; }
.p-b-90{  padding-bottom:90px; }
.p-b-100{ padding-bottom:100px; }

.p-l-0 {  padding-left:0px; }
.p-l-5 {  padding-left:5px; }
.p-l-10{  padding-left:10px; }
.p-l-15{  padding-left:15px; }
.p-l-20{  padding-left:20px; }
.p-l-25{  padding-left:25px; }
.p-l-30{  padding-left:30px; }
.p-l-40{  padding-left:40px; }
.p-l-50{  padding-left:50px; }
.p-l-60{  padding-left:60px; }
.p-l-70{  padding-left:70px; }
.p-l-80{  padding-left:80px; }
.p-l-90{  padding-left:90px; }
.p-l-100{ padding-left:100px; }

.p-r-0 {  padding-right:0px; }
.p-r-5 {  padding-right:5px; }
.p-r-10{  padding-right:10px; }
.p-r-15{  padding-right:15px; }
.p-r-20{  padding-right:20px; }
.p-r-25{  padding-right:25px; }
.p-r-30{  padding-right:30px; }
.p-r-40{  padding-right:40px; }
.p-r-50{  padding-right:50px; }
.p-r-60{  padding-right:60px; }
.p-r-70{  padding-right:70px; }
.p-r-80{  padding-right:80px; }
.p-r-90{  padding-right:90px; }
.p-r-100{ padding-right:100px; }

.m-b-5 {  margin-bottom:   5px !important;}
.m-b-10{  margin-bottom:  10px !important;}
.m-b-15{  margin-bottom:  15px !important;}
.m-b-20{  margin-bottom:  20px !important;}
.m-b-25{  margin-bottom:  25px !important;}
.m-b-30{  margin-bottom:  30px !important;}
.m-b-40{  margin-bottom:  40px !important;}
.m-b-50{  margin-bottom:  50px !important;}
.m-b-60{  margin-bottom:  60px !important;}
.m-b-70{  margin-bottom:  70px !important;}
.m-b-80{  margin-bottom:  80px !important;}
.m-b-90{  margin-bottom:  90px !important;}
.m-b-100{ margin-bottom: 100px !important;}

.m-r-5 {  margin-right:   5px !important;}
.m-r-10{  margin-right:  10px !important;}
.m-r-15{  margin-right:  15px !important;}
.m-r-20{  margin-right:  20px !important;}
.m-r-25{  margin-right:  25px !important;}
.m-r-30{  margin-right:  30px !important;}
.m-r-40{  margin-right:  40px !important;}
.m-r-50{  margin-right:  50px !important;}
.m-r-60{  margin-right:  60px !important;}
.m-r-70{  margin-right:  70px !important;}
.m-r-80{  margin-right:  80px !important;}
.m-r-90{  margin-right:  90px !important;}
.m-r-100{ margin-right: 100px !important;}

.m-l-5 {  margin-left:   5px !important;}
.m-l-10{  margin-left:  10px !important;}
.m-l-15{  margin-left:  15px !important;}
.m-l-20{  margin-left:  20px !important;}
.m-l-25{  margin-left:  25px !important;}
.m-l-30{  margin-left:  30px !important;}
.m-l-40{  margin-left:  40px !important;}
.m-l-50{  margin-left:  50px !important;}
.m-l-60{  margin-left:  60px !important;}
.m-l-70{  margin-left:  70px !important;}
.m-l-80{  margin-left:  80px !important;}
.m-l-90{  margin-left:  90px !important;}
.m-l-100{ margin-left: 100px !important;}

.m-t-5 {  margin-top:   5px !important;}
.m-t-10{  margin-top:  10px !important;}
.m-t-15{  margin-top:  15px !important;}
.m-t-20{  margin-top:  20px !important;}
.m-t-25{  margin-top:  25px !important;}
.m-t-30{  margin-top:  30px !important;}
.m-t-40{  margin-top:  40px !important;}
.m-t-50{  margin-top:  50px !important;}
.m-t-60{  margin-top:  60px !important;}
.m-t-70{  margin-top:  70px !important;}
.m-t-80{  margin-top:  80px !important;}
.m-t-90{  margin-top:  90px !important;}
.m-t-100{ margin-top: 100px !important;}

.blank10{ height:10px;}
.blank20{ height:20px;}
.blank30{ height:30px;}
.blank40{ height:40px;}
.blank50{ height:50px;}
.blank60{ height:60px;}
.blank70{ height:70px;}
.blank80{ height:80px;}
.blank90{ height:90px;}
.blank100{ height:100px;}
.blank110{ height:110px;}
.blank120{ height:120px;}
.blank130{ height:130px;}
.blank140{ height:140px;}
.blank150{ height:150px;}
.blank160{ height:160px;}
.blank170{ height:170px;}
.blank180{ height:180px;}
.blank190{ height:190px;}
.blank200{ height:200px;}

.inner_box10 {width:10%;}
.inner_box15 {width:15%;}
.inner_box20 {width:20%;}
.inner_box25 {width:25%;}
.inner_box30 {width:30%;}
.inner_box35 {width:35%;}
.inner_box40 {width:40%;}
.inner_box45 {width:45%;}
.inner_box50 {width:50%;}
.inner_box55 {width:55%;}
.inner_box60 {width:60%;}
.inner_box65 {width:65%;}
.inner_box70 {width:70%;}
.inner_box75 {width:75%;}
.inner_box80 {width:80%;}
.inner_box85 {width:85%;}
.inner_box90 {width:90%;}
.inner_box95 {width:95%;}
.inner_box {width:100%;}

.visible-mobele{ display: none;	}
.visible-web{ display: block; }
.visible-mobele-i{ display: none; }
.visible-web-i{	display: block;	}

@media screen and (max-width: 991px) {

	.visible-mobele{ display:block;	}

	.visible-web{ display: none; }

	.visible-mobele-i{ display: inline-block; }

	.visible-web-i{	display: none; }	

}

/* edit-block 編輯區內的設定 Start */
	  
.edit-block ol li{
	list-style-type:decimal ;
	list-style-position: inside; 
	}
	
.edit-block ul li{
	list-style-type:disc ;
	list-style-position: inside; 
	}
	
.edit-block table{
	width: 100%; 
	}

/* edit-block 編輯區內的設定 End */

/*Type style Start*/

.Title_1{
	font-size: 44px !important;
	line-height: 52px !important;
	letter-spacing: -0.2px !important;
	font-weight: bold;
}

.Title_2{
	font-size: 32px !important;
	line-height: 40px !important;
	letter-spacing: -0.2px !important;
	font-weight: bold;
}

.Title_3{
	font-size: 24px !important;
	line-height: 32px !important;
	letter-spacing: -0.2px !important;
	font-weight: bold;
}

.Large{
	font-size: 19px !important;
	line-height: 25px !important;
	letter-spacing: -0.2px !important;
}

.Regular{
	font-size: 17px !important;
	line-height: 23px !important;
	letter-spacing: -0.2px !important;
}

.Small{
	font-size: 14px !important;
	line-height: 20px !important;
	letter-spacing: -0.2px !important;
}

.MICRO{
	font-size: 8px !important;
	line-height: 12px !important;
	letter-spacing: -0.2px !important;
}

@media screen and (min-width: 900px) {
	/*Type style*/

	.Title_1{
		font-size: 56px !important;
		line-height: 64px !important;
		letter-spacing: -0.2px !important;
		font-weight: bold;
	}

	.Title_2{
		font-size: 36px !important;
		line-height: 44px !important;
		letter-spacing: -0.2px !important;
		font-weight: bold;
	}

	.Title_3{
		font-size: 28px !important;
		line-height: 36px !important;
		letter-spacing: -0.2px !important;
		font-weight: bold;
	}

	.Large{
		font-size: 24px !important;
		line-height: 30px !important;
		letter-spacing: -0.2px !important;
	}

	.Regular{
		font-size: 22px !important;
		line-height: 28px !important;
		letter-spacing: -0.2px !important;
	}

	.Small{
		font-size: 18px !important;
		line-height: 22px !important;
		letter-spacing: -0.2px !important;
	}

	.MICRO{
		font-size: 8px !important;
		line-height: 12px !important;
		letter-spacing: -0.2px !important;
	}
}
/*Type style End*/

/*-----快速共用(style)-----*/
.border_radius_5{ 
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
}
.border_radius_tlr_5{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.border_solid{ border: 1px solid; }
.border_b_dashed{ border-bottom: 1px dashed; }
.font_size_14{ font-size: 14px; }
.font_size_16{ font-size: 16px; }
.font_size_18{ font-size: 18px; }
.font_size_20{ font-size: 20px; }
.line_height_20{ line-height: 20px; }
.line_height_30{ line-height: 30px; }
.line_height_40{ line-height: 40px; }
.line_height_50{ line-height: 50px; }
.line_height_80{ line-height: 80px; }

/*-----快速共用(color)-----*/
.background_white{background: white;}
.background_gray{background: #B3B3B3;}
.background_Orange{background: #F78C00;}
.border_b_dashed{ border-color: #b3b3b3; }
.border_gray{ border-color: #ddd; }
.border_Orange{ border-color: #F78C00; }
.font_weight_bold{ font-weight: bold; }
.font_color_Black{ color: #000; }
.font_color_White{ color: #fff; }
.font_color_Red{ color: red; }
.font_color_Darkgray{ color: #666; }
.font_color_Orange{ color: #F78C00; }
.box_shadow_white{ box-shadow: inset 1px 3px 10px rgba(255,255,255,.5); }
.box_shadow_black{ box-shadow: inset 1px -5px 10px rgba(0,0,0,.1); }