@charset "utf-8";
/* CSS Document */
body {font-family:"微軟正黑體", "蘋果儷中黑", "Microsoft JhengHei", Arial, sans-serif; word-break: normal;
	text-align:justify;}

/*-----header 網站名稱-----*/
.header_logo {
	font-size:22px;
	font-weight:bold;
	line-height:60px;
}
/*-----搜尋 icon-----*/
.search_bar {
	border:1px solid;
	border-radius: 5px;
}
.search_bar input {
	font-size:16px;
	border:0;
	border-radius: 5px;
}
.search_btn {
	border:0;
	border-radius: 5px;
	font-size:15px;
}
/*-----hamburger content-----*/
.hamburger_list_wrap > ul > li{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid;
}
.hamburger_list_wrap > ul > ul > li{
	font-size: 16px;
	/*font-weight: bold;*/
	border-bottom: 1px solid;
}
/*-----footer_menu_wrap-----*/
.menu_icon a{
	font-size: 12px;
}
/*-----會員專區 member header-----*/
.member_header_wrap{
	font-size:18px;
	font-weight: bold;
	line-height:50px;
}
.logout_btn{
	font-size:14px;
	line-height:36px;
	border-radius: 5px;
}
/*-----紅利館 bonus header-----*/
.dividend_wrap span{
	font-size: 14px;
	font-weight: bold;
	line-height: 50px;
}
.bonus_header_logo{
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
}
/*-----大標設定-----*/
.top_title{
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
}
/*-----橫向商品列表-----*/
.horizontal_product_content{
	padding: 10px 5px;
	border-bottom: 1px solid;
}
.horizontal_product_name{
	line-height: 20px;
}
.horizontal_price_style{
	font-size: 20px;
    font-weight: bold;
}
.Quantity_wrap_input{
	border-radius: 5px;
	border: 0.5px solid;
}
.Quantity_wrap_button{
	line-height: 0px;
	padding: 0;
}
.button_style{
	font-size: 12px;
	line-height: 30px;
	border-radius: 5px;
	padding: 0;
	border: 0;
}
/*-----雙品商品列表-----*/
.even_product_content_wrap{
	padding: 0 5px;	
}
.even_price_style{
	font-size: 20px;
    font-weight: bold;
}
.Original_price{
	text-decoration: line-through;
}
/*-----單品商品列表-----*/
.odd_product_content_wrap{
	padding: 0 5px;	
}
.odd_price_style{
	font-size: 20px;
    font-weight: bold;
}
/*-----快速共用-----*/
.border_radius_5{ border-radius: 5px; }
.font_size_14{ font-size: 14px; }
.font_size_16{ font-size: 16px; }
.font_size_18{ font-size: 18px; }
.line_height_20{ line-height: 20px; }
.line_height_30{ line-height: 30px; }
.line_height_40{ line-height: 40px; }
.line_height_50{ line-height: 50px; }