@charset "utf-8";

body{
	background:#E6E6E6;
}

/*-----官網整體色系-----*/
hr{
	border-color: #ddd;
}
.basic_color{
	background: #9bd5e0;
}
.basic_font_color{
	color: #9bd5e0;
}
.active{
	background-color: #9bd5e0;
}
/*-----大標整體色系-----*/
.bonus_basic_color{
	background: #f09290;
}
.top_title{
	color: #fff;
}
/*-----hamburger icon-----*/
.icon_bar{
	background: #fff; 
}
/*-----header 網站名稱-----*/
.header_logo{
	color: #fff;
}
/*-----搜尋 icon-----*/
.search_bar {
	border-color: #666;
	background: #fff;
}
.search_bar input {
	background:#fff;
}
.search_btn {
	background:#666;
	color:#fff;
}
/*-----hamburger content-----*/
.hamburger_list_wrap > ul > li {
	border-color: #898989;
	background-color: #f4f4f4;
}
.hamburger_list_wrap > ul > ul > li {
	border-color: #ddd;
}
#hamburger_menu .hamburger_show a {
	color: #fff;
}
.copyright {
	color: #666;
}
/*-----footer_menu_wrap-----*/
.footer_menu_wrap{
	background-color: #B3B3B3;
}
.menu_icon a{
	color: #fff;
}
/*-----會員專區 member header-----*/
.member_header_wrap{
	background:#666;
	color:#fff;
}
.logout_btn{
	background:#333;
}
.logout_btn a{
	color:#fff;
}
/*-----紅利館 bonus header-----*/
.bonus_header_color{
	background: #EE8072;
}
.dividend_wrap span{
	color: #fff;
}
.bonus_header_logo a{
	color: #fff;
}
/*-----橫向商品列表-----*/
.horizontal_product_content{
	border-color: #ddd;
}
.horizontal_price_style{
	color: #f78c00;
}
.Quantity_wrap_input{
	border-color: #ccc;
}
.button_style{
	background: #f09290;
	color: #fff;
}
/*-----雙品商品列表-----*/
.even_price_style{
	color: #f78c00;
}
.Original_price{
	color: #666;
}
/*-----單品商品列表-----*/
.odd_price_style{
	color: #f78c00;
}
/*-----快速共用-----*/
.background_white{background: white;}
.background_gray{background: #878787;}
/*.Border_b{border-bottom: 1px solid #ddd;}*/
.font_color_Black{color: black; font-weight: bold;}
.font_color_White{color: white; font-weight: bold;}
.font_color_Red{color: red; font-weight: bold;}