@charset "utf-8";
/* CSS Document */
body {
	font-family:"蘋果儷中黑", "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
	word-break: normal;
	text-align:justify;
}

/*-----header 網站名稱-----*/
.header_logo {
	font-size:22px;
	font-weight:bold;
	line-height:60px;
}
/*-----搜尋 icon-----*/
.search_bar {
	border:1px solid;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.search_bar input {
	font-size:16px;
	border:0;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.search_btn {
	border:0;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	font-size:15px;
}
#search_value{
	outline: none;
	box-shadow: none;
}
/*-----hamburger content-----*/
.hamburger_list_wrap > ul > li{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid;
}
.hamburger_list_wrap > ul > ul > li{
	font-size: 16px;
	/*font-weight: bold;*/
	border-bottom: 1px solid;
}
/*-----footer_menu_wrap-----*/
.menu_icon a{
	font-size: 12px;
}
/*-----會員專區 member header-----*/
.member_header_wrap{
	font-size:18px;
	font-weight: bold;
	line-height:50px;
}
.logout_btn{
	font-size:14px;
	line-height:36px;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
/*-----會員專區 member function (for member.html)-----*/
.member_button{
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	border: 1px solid;
	border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.btn{
	padding: 0;
}
.btn-info{
	border: 0;
}
/*member頁籤*/
.member_controls li{
	border-radius: 10px 30px 0 0;
}
/*-----會員基本資料 (for member_profile.html)-----*/
/*-----member form-----*/
.merber_form_wrap{
	padding: 20px;
}
.merber_form_wrap h4{
	font-size: 16px;
	/*font-weight: bold;*/
	padding-bottom: 5px;
}
.account_wrap span{
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
}
.account_button{
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.account_button a{
	font-size: 16px;
	line-height: 40px;
}
.gender_wrap input + label{
	padding: 10px;
	border: 1px solid;
	transition: 0.35s ease-in-out;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.gender_wrap input + label:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.gender_wrap input + label:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.edm_enabled_wrap label{
	font-size: 16px;
}
/*-----member button-----*/
.FB_button{
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.FB_button a{
	font-size: 16px;
	line-height: 40px;
}
.confirm_button{
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}
.confirm_button a{
	font-size: 16px;
	line-height: 40px;
}
/*-----會員手機認證 (for sms_send.html)-----*/
.authentication_Code_wrap{
	padding: 20px;
}
/*-----會員修改密碼 (for member_pwd.html)-----*/
.password_form_wrap{
	padding: 20px;
}
.password_form_wrap h4{
	font-size: 16px;
	/*font-weight: bold;*/
	padding-bottom: 5px;
}
.new_password_wrap dd{
	font-size: 14px;
	padding-left: 10px;
}
/*-----會員訂單紀錄 (for member_order.html)-----*/
/*-----尚無訂單資料-----*/
.no_order_wrap p{
	font-size: 20px;
	font-weight: bold;
}
/*-----訂單資料-----*/
.order_content_wrap{
	border: 1px solid;
	border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	padding: 15px 10px;
}
.order_top_wrap{
	border-bottom: 1px dashed;
}
/*-----訂單狀態-----*/
.order_status_style{
	border-radius: 50%; /* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 50%; /* Firefox */
	-webkit-border-radius: 50%; /* Safari, Chrome */
	border:2px solid; 
}
.order_status_style span{
	line-height: 50px;
	font-weight: bold;
}
/*-----會員註冊 (for member_register.html)-----*/
.merber_register_form_wrap{
	padding: 20px;
}
.merber_register_form_wrap h4{
	font-size: 16px;
	/*font-weight: bold;*/
	padding-bottom: 5px;
}
.accept_wrap input{
	padding: 0;
}
.accept_wrap label{
	font-size: 16px;
}
/*-----紅利館 bonus header-----*/
.dividend_wrap span{
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
}
.bonus_header_logo{
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
}
/*-----大標設定-----*/
.top_title{
	font-size: 16px;
	line-height: 40px;
	/*font-weight: bold;*/
}
/*-----橫向商品列表-----*/
.horizontal_product_content{
	padding: 10px 5px;
}
.horizontal_product_name{
	line-height: 20px;
}
.horizontal_price_style{
	font-size: 18px;
    font-weight: bold;
}
.Quantity_wrap_input{
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border: 0.5px solid;
}
.Quantity_wrap_button{
	line-height: 0px;
	padding: 0;
}
.button_style{
	font-size: 12px;
	line-height: 30px;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	padding: 0;
	border: 0;
}
/*-----delete-----*/
.prod_delete_button{
	border: 0;
	background: 0;
	outline: 0;
}
/*-----雙品商品列表-----*/
.even_product_content_wrap{
	padding: 0 5px;	
}
.even_price_style{
	font-size: 18px;
    font-weight: bold;
}
.Original_price{
	text-decoration: line-through;
}
/*-----單品商品列表-----*/
.odd_product_content_wrap{
	padding: 0 5px;	
}
.odd_price_style{
	font-size: 18px;
    font-weight: bold;
}

/*---商品介紹頁面(for prod.html)---*/
.btn{
	padding: 0;
}
.btn-info{
	border: 0;
}
/*商品頁籤*/
.controls_tabl{
	padding: 0;
}
.controls li{
	border: 1px solid;
}
.controls li a{
	line-height: 40px;
	text-align: center;
	outline: none;
}
/*google_map*/
.google_map_select{
	border-radius: 5px;
}
.google_map_wrap{
	border: 1px solid;
}
/*商品介紹頁 footer*/
.Border_r{
	border-right: 1px solid;
}
.menu_icon_buy{
	font-size: 20px;
	line-height: 50px;
}

/*---加入購物車頁面(for shopping_cart.html)---*/

.shopping_button_left{
	border-radius: 5px;
}
.shopping_button_right{
	border-radius: 5px;
}

/*-----任務紅利通知-----*/
.gift_img{
	padding-bottom: 5px;
}
.gift_img_jump_padding{
	animation: jump_padding .8s infinite linear; 
}
@keyframes jump_padding{ 
	0%{ padding-bottom: 10px; }
	50%{ padding-bottom: 5px; }
	100%{ padding-bottom: 10px; }
}

/*---頁面 input 設定---*/
.payment_method_wrap input + label,
.buyer_wrap input,
.receive_wrap input,
.family_wrap input,
.invoice_wrap input,
.name_wrap input,
.email_wrap input,
.address_wrap input,
.password_form_wrap input,
.merber_register_form_wrap input,
.authentication_Code_wrap input,
select option,
select{
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;/* Opera 10.50 and later (CSS3 standard) */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	transition: 0.35s ease-in-out;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.calculation_wrap li,
.payment_method_wrap li,
.buyer_wrap li,
.receive_wrap li,
.family_wrap li,
.invoice_wrap li{
	font-size: 16px;
}
.buyer_wrap h4,
.receive_wrap h4,
.family_wrap h4,
.invoice_wrap h4{
	/*font-weight: bold;*/
	padding-bottom: 5px;
}